body { background-color: #fff; color: #333; }



pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.add_new a { 
	color: #fff;
	text-decoration: none;
}
.panel a, a {
	color: #666;
	text-decoration: none;
}

.add_new a:visited { color: #fff; }
.panel a:visited, a:visited { color: #666; }

.add_new a:hover { 
	color: #fff; 
	text-shadow: 2px 2px 2px #000;

}

.panel a:hover, a:hover {
	color: #000;
	text-shadow: 2px 2px 2px #000;
}

a.image_link:hover {background-color:#fff;}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

